:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --logo-main-color: #2196f3;
    --logo-secondary-color: #000000;
    --body-main-color: #ffffff;
    --body-secondary-color: #2f303a;
    --body-third-color: #F5F5F5;
    --body-fourth-color:#F5F4FA;
    --hover-btn-color: #188ce8;
}

/* general rules */
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--body-secondary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Web Studio */

.header {
    background-color: var(--body-main-color);
}

.header-nav {

}

.header-logo {
font-family: "Raleway";    
font-style: "bold";
font-weight: 700;
font-size: 26px;
}

.accent{
color: var(--logo-main-color);
}

.header-list {
font-style: normal;
font-weight: 500;
font-size: 14px;
}

.header-item {

}

.header-link {
color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
color: #2196f3;
}

.header-contacts li {
    display: inline;
}

.header-mail, .header-contact {
color: var(--main-text-color);
font-weight: 500;
font-size: 14px;
}

.header-mail:hover,
.header-mail:focus {
    color: #2196f3;
}

.header-contact:hover,
.header-contact:focus {
    color: #2196f3;
}


.section-btn {
    color: var(--body-main-color);
    background-color: var(--body-secondary-color);
}

.slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
    background-color: var(--logo-main-color);
    color: var(--body-main-color);
    align: center;
}

.button:hover,
.button:focus {
    background-color: var(--hover-btn-color);
}

.features {
background-color: var(--body-third-color);
}

.hidden-title {
    visibility: hidden;
}

.feature-item {
    
}

.features-list {
color: var(--secondary-text-color);
font-style: "bold";
font-size: 14px;
line-height: 1,14;
}

.features-list h3 {
    
}

.features-desc {

}

.features-desc p {
  
}

.what-we-do-list {
background-color: var(--body-third-color);
}

.what-we-do {
font-style: "bold";
line-height: 1,16;
font-size: 36px;
color: var(--secondary-text-color);
}

.img-action {

}

.team-img-frame {
background-color: var (var(--body-main-color));
}

.team {
background-color: var(--body-fourth-color);
}

.team-img {

}

.team-name {
font-style: "medium";
font-size: 16px;
line-height: 1,18;
color: #212121;
}

.team-position {
font-style: "Regular";
font-size: 16px;
line-height: 1,18;
color: #757575;
}

.footer {
background-color: var(--body-secondary-color);
}

.footer-logo {
font-family: "raleway";    
font-style: "bold"; 
font-size: 26px;
line-height: 1,19;
color: var(--logo-main-color);
}

.accent-footer {
color: #ffffff;
}

.footer-adress {
font-style: "regular";
line-height: 1,71; 
color: #ffffff;
}

.footer-mail, .footer-contact {
color: rgba(255, 255, 255, 0.6);
}

/* Портфоліо */

.portfolio {
background-color: #F5F5F5;
}

.portfolio-btn-list {

}

.portfolio-btn {
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
cursor: pointer;
text-align: center;
background-color: #F5F4FA;
color: #212121;
text-align: center;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--logo-main-color);
}

.portfolio-img-list {

}

.portfolio-list-item {

}

.link {

}

.portfolio-img {

}

.portfolio-title {
font-weight: 700;
line-height: 2;
letter-spacing: 0,06;
color: var(--secondary-text-color);
}

.portfolio-desc {
font-weight: 400;
font-size: 16px;
line-height: 1,87;
letter-spacing: 0,03;
}