:root {
    --font-family-main: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --logo-main-color: #2196f3;
    --logo-secondary-color: #000000;
    --body-main-color: #ffffff;
    --body-secondary-color: #2f303a;
    --body-third-color: #f5f4fa;
    --hover-btn-color: #188ce8;
}

/* general rules */
body {
    color: var(--primary-text-color);
    background-color: var(--secondary-accent-color-white);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

ul li {
    display: inline;
}

/* Web Studio */

.header {
    background-color: #FFFFFF;
    margin: 16px;
}

.header-nav {

}

.header-logo {
font-family: var(--font-family-logo);    
font-weight: 700;
font-size: 26px;
}

.accent{
color: var(--logo-main-color);
}

.header-list {
font-style: normal;
font-weight: 500;
font-size: 14px;
}

.header-list li {
    display: inline;
}

.header-item {

}

.header-link {
color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
color: #2196f3;
}

.header-contacts li {
    display: inline;
}

.header-mail, .header-contact {
color: var(--main-text-color);
font-weight: 500;
font-size: 14px;
}

.header-mail:hover,
.header-mail:focus {
    color: #2196f3;
}

.header-contact:hover,
.header-contact:focus {
    color: #2196f3;
}


.section-btn {
    color: var(--body-main-color);
    background-color: var(--body-secondary-color);
}

.slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
    background-color: var(--logo-main-color);
    color: var(--body-main-color);
}

.button:hover,
.button:focus {
    background-color: var(--hover-btn-color);
}

.features {

}

.feature-item {
    display: inline-block;
}

.features-list {

}

.features-list h3 {
    display: inline;
}

.features-desc {

}

.features-desc p {
    display: inline;
}

.what-we-do {

}

.img-action {

}

.team {

}

.team-title {

}

.team-img {

}

.team-name {

}

.team-position {

}

.footer {

}

.footer-logo {

}

.footer-adress {

}

.footer-mail {

}

.footer-contact {

}

/* Портфоліо */

.portfolio {

}

.portfolio-btn-list {

}

.portfolio-btn {

}

.portfolio-img-list {

}

.portfolio-list-item {

}

.link {

}

.portfolio-img {

}

.portfolio-title {

}

.portfolio-desc {
    
}