:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --logo-main-color: #2196f3;
    --logo-secondary-color: #000000;
    --body-main-color: #ffffff;
    --body-secondary-color: #2f303a;
    --body-fourth-color:#F5F4FA;
    --hover-btn-color: #188ce8;
}

/* general rules */
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--body-main-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Web Studio */

.header {
background-color: var(--body-main-color);
}

.header-nav {

}

.header-logo {
font-family: "Raleway", sans-serif;    
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--logo-secondary-color);
letter-spacing: 0.03em;
}

.accent{
color: var(--logo-main-color);
}

.header-list {
font-weight: 500;
font-size: 14px;
}

.header-item {

}

.header-link {
color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
color: #2196f3;
}

.current {
color: var(--logo-main-color);
}

.header-mail, .header-contact {
color: var(--main-text-color);
font-weight: 500;
font-size: 14px;
}

.header-mail:hover,
.header-mail:focus {
color: #2196f3;
}

.header-contact:hover,
.header-contact:focus {
color: #2196f3;
}


.section-btn {
color: var(--body-main-color);
background-color: var(--body-secondary-color);
}

.slogan {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.button {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
cursor: pointer;
background-color: var(--logo-main-color);
color: var(--body-main-color);
}

.button:hover,
.button:focus {
background-color: var(--hover-btn-color);
}

.features {

}

.hidden-title {
visibility: hidden;
}

.feature-item {
    
}

.features-list {
color: var(--secondary-text-color);
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em; 
}

.features-list h3 {
    
}

.features-desc {

}

.features-desc p {
  
}

.what-we-do-list {

}

.what-we-do {
line-height: 1.16;
font-size: 36px;
color: var(--secondary-text-color);
text-align: center;
letter-spacing: 0.03em;
}

.img-action {

}

.team-img-frame {
background-color: var(--body-main-color);
}

.team {
background-color: var(--body-fourth-color);
}

.team-img {

}

.team-name {
font-size: 16px;
line-height: 1.18;
color: #212121;
}

.team-position {
font-size: 16px;
line-height: 1.18;
}

.footer {
background-color: var(--body-secondary-color);
}

.footer-logo {
font-family: "Raleway", sans-serif; ;    
font-style: 700;  
font-size: 26px;
line-height: 1.19;
color: var(--body-main-color);
}    

.accent-footer {
color: var(--logo-main-color);
}

.adress {
font-style: normal;
}

.footer-adress {
line-height: 1.71; 
color: var(--main-text-color);
}

.footer-adress:hover,
.footer-adress:focus{
color: var(--body-main-color);
}

.footer-mail{
color: var(--main-text-color);
}
.footer-mail:hover,
.footer-mail:focus{
color: var(--body-main-color);
}

.footer-contact{
color: var(--main-text-color);
}
.footer-contact:hover,
.footer-contact:focus{
color: var(--body-main-color);
}


/* Портфоліо */

.portfolio {

}

.portfolio-btn-list {

}

.portfolio-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
cursor: pointer;
color: var(--secondary-text-color)
}

.portfolio-btn:hover,
.portfolio-btn:focus {
background-color: var(--logo-main-color);
color: var(--body-main-color);
}

.portfolio-img-list {

}

.portfolio-list-item {

}

.link {

}

.portfolio-img {

}

.portfolio-title {
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}

.portfolio-desc {
color: var(--main-text-color);
font-size: 16px;
line-height: 1.87;
}